# Entornos Virtuales
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc

# Archivos de Entorno (API Keys)
.env

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de Pruebas del Agente
astro-todos/
astro-todos-ui/
